
#logo {
    opacity: 0;
    width: 100px;
    height: auto;
    margin:0;
    grid-area: 1 / 1 / 1 / 1;
    justify-self:start;
    align-self: start;
}


.tiktokContainer {
    position: relative;
    top:0;
    width:100%;
    height: 100%;
}
.tiktokContainer blockquote {
    position: absolute;
    top:0;
    left: 40%;
    z-index: 1;
    width: 20%;
    height:75%;
}

/* Stylesheet for images on Stills page */

#mainStills {
    height: 350vw ;
    justify-items: center;
}

#mainStills > p {
    grid-area: 2 / 1 / 3 / 3;
    align-self: end;
    font-size: 20px;
}

#stillsContainer {
    grid-area: 2 / 1 / 13 / 3;
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: 5vw repeat(24, 1fr) 5vw;
    grid-template-rows: 60px repeat(20, 1fr);
    grid-auto-rows: (minmax(min-content, max-content));
    align-items: start;
    gap: 2vw 25px;
    overflow: hidden;
    margin-top: -20px;
}
#stillsContainer > a {
    border-radius: 10px;
    margin-top: 45px;
    height:calc(100% - 45px);
    z-index:2;
}
#stillsContainer > a:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.stills {
    box-shadow: 0 0 3px 2px #7ad, -4px 8px 15px 10px rgb(1, 20, 70);
    border-radius: 10px;
    margin-top: 45px;
    z-index:1;
}

.still1 {
    grid-area: 2 / 2 / 3 / 14;
    width: 93.5%;
}
.still2 {
    grid-area: 2 / 13 / 3 / 26;
    width: 97.5%;
}
.still3 {
    grid-area: 3 / 2 / 4 / 10;
    width: 100%;
}
.still3v2 {
    grid-area: 3 / 10 / 4 / 18;
    width: 100%;
}
.still4 {
    grid-area: 3 / 18 / 4 / 26;
    width: 100%;
}
.still5 {
    grid-area: 4 / 2 / 5 / 26;
    width: 100%;
}
.still6 {
    grid-area: 5 / 2 / 6 / 15;
    width:97%;
}
.still7 {
    grid-area: 5 / 14 / 6 / 26;
    width:94.5%;
}
.still8{
    grid-area: 6 / 2 / 7 / 14;
    width: 100%;
}
.still9 {
    grid-area: 6 / 14 / 7 / 26;
    width: 100%;
}
.still10 {
    grid-area: 7 / 2 / 8 / 14;
    width: 100%;
}
.still11 {
    grid-area: 7 / 14 / 8 / 26;
    width: 100%;
}
.still12 {
    grid-area: 8 / 2 / 10 / 14;
    width:95.75%;
}
.still13 {
    grid-area: 8 / 13 / 9 / 26;
    width:96%;
}
.still14 {
    grid-area: 9 / 13 / 10 / 26;
    margin-top: 0;
    width:96%;
}
#stillsContainer > a.still14 {
    margin:0;
    height:100%;
}
.hiddenLeft {
    opacity:0;
    filter:blur(10px);
    justify-self: start;
    transform: translateX(-100%);
    transition:none;
}
.hiddenLeft2 {
    opacity:0;
    filter:blur(10px);
    justify-self: start;
    transform: translateX(-150%);
    transition:none;
}
.hiddenLeft21 {
    opacity:0;
    filter:blur(10px);
    justify-self: start;
    transform: translateX(-150%);
    transition:none;
    transition-delay: 200ms;
}
.hiddenLeft22 {
    opacity:0;
    filter:blur(10px);
    justify-self: start;
    transform: translateX(-150%);
    transition:none;
    transition-delay: 400ms;
}
.hiddenLeft23 {
    opacity:0;
    filter:blur(10px);
    justify-self: start;
    transform: translateX(-150%);
    transition:none;
    transition-delay: 600ms;
}
.hiddenRight {
    opacity:0;
    filter:blur(10px);
    justify-self: end;
    transform: translateX(100%);
    transition:none;
}
.hidden {
    opacity:0;
    filter:blur(10px);
    transform: scale(0.8);
    justify-self: end;
    transition:none;
}
.show {
    opacity:1;
    filter: blur(0);
    transform: translateX(0) scale(1);
    transition: background-color 0.2s, opacity 1.3s, transform 1.3s, filter 1.3s /*100ms*/;
}

@media(prefers-reduced-motion) {
    .show {
        transition: none;
    }
}