
@media only screen and (max-width: 800px) {
    /*body{overflow-x:hidden;}*/

    #socialContainer * {
        visibility: hidden;
    }
#socialContainer2 * {
        visibility: visible;
        transition: none;
        opacity: 1;
    }
    #header {
        background-image: radial-gradient(circle at 0%, #133a89 1%, #102e6a 33%, #001540 66%, #000925 100%);
    }
    
    #h1 {
        font-size: 38px;
        transform: translate(0, 6px);
        justify-self: start;
        margin: 0 0 0 9px;
    }
    
    #h2 {
        font-size: 25px;
        transform: translate(0, 20px);
        justify-self: start;
        margin: 0 0 0 20px;
    }
    h3 {
        font-size: 28px;
    }

    #navContact:hover {
        border: 3px solid #00c8ff;
    }
    #navContact:hover:active {
        border: 3px solid blueviolet;
    }

    #navHome:hover {
        border: 3px solid #00c8ff;
    }
    #navHome:hover:active {
        border: 3px solid blueviolet;
    }

    #closeButton {
        position: static;
        font-size: 26px;
        flex-grow:0.5;
    }  
    #navButton {
        grid-area: 1 / 10 / 5 / 13;
        align-self: center;
        z-index:3;
    }

    #pageNav {
        position:fixed;
        width:100%;
        height:75%;
        display:flex;
        align-items: center;
        flex-direction: column;
        top:60px;
        left:0;
        margin:0;
        transition: opacity 0.5s, height 0.5s;
        opacity:0;
        z-index: 3;
    }
    #pageNav:hover {
        width: 100%;
    }
    .navItem {
        position: relative;
        flex-grow: 1;
        font-size: 20px;
        align-self: center;
        width:60%;
        border: 2px solid #eee;
        border-radius: 10px;
        text-decoration: none;
        margin:0;
        transition: text-shadow 0.2s;
    }

    .navItem > p {
        position: absolute;
        display: block;
        text-align: center;
        width:100%;
        top:32%;
    }

    .navItem:hover {
       text-decoration: none;
       z-index: 4;
       font-size: 20px;
       font-weight: 400;
       height:0;
       flex-grow: 1.1;
       padding:0;
       transition: all 0.5s, border-width 0.05s;
    }
    #mainHome {
        grid-template-columns: 1fr 1fr;
    }
    #meHome1 {
        grid-area: 4 / 1 / 5 / 3;
        justify-self: center;
        width:250px;
        margin:0;
        background-position: -40px -5px;
    }
    .homeSection1 {
        grid-area: 3 / 1 / 4 / 3;
        line-height: 1.5;
        width:65%;
        justify-self: center;
        margin-bottom: 30px;
        font-size: 16px;
    }
    

    form {
        grid-template-rows: 1fr 2fr 1fr 2fr 1fr 4fr 2fr;
        height:600px;
        margin-top: 10px;
    }

    form label{
        align-self: center;
        justify-self: center;
        font-size: 22px;
        width:100%;
    }
    form input, form textarea, form button{
        align-self: start;
        justify-self: center;
        height:60%;
        width:75%;
    }

    .myEmail {
        font-size: 22px;
    }

    .formLabelName {
        grid-area: 1 / 1 / 2 / 4;
        margin:0;
    }
    .formItemName {
        grid-area: 2 / 1 / 3 / 4;
    }
    .formLabelEmail {
        grid-area: 3 / 1 / 4 / 4;
        margin:0;
    }
    .formItemEmail {
        grid-area: 4 / 1 / 5 / 4;
    }
    .formLabelMessage{
        grid-area: 5 / 1 / 6 / 4;
    }
    .formItemMessage {
        grid-area: 6 / 1 / 7 / 4;
        height: 80%;
    }
    .formItemSubmit {
        grid-area: 7 / 1 / 8 / 4;
    }

    #mainReel {
        grid-auto-rows: max-content;
    }
    #vimeoReelContainer {
        grid-area: 3 / 1 / 4 / 3;
        justify-self: center;
        width:80%;
        margin:0
    }
    #tiktokContainer {
        grid-area: 4 / 1 / 5 / 3;
        justify-self: center;
        width:80%;
        margin: 60px 0 0 0;
    }
    #mainAbout {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 110px 50px repeat(12, 1fr);
        grid-auto-rows: max-content;
    }
    #mainAbout > #aboutImg1 {
        grid-area: 4 / 1 / 5 / 3;
        background-size: cover;
        width:80%;
        height: 400px;
        margin-top: 40px;
    }
    #mainAbout > #aboutImg2 {
        grid-area: 6 / 1 / 7 / 3;
        margin: 40px 0 80px 0;
        width:80%;
        height: 60vw;
        background-size: cover;
    }
    #mainAbout > .slideshowContainer {
    grid-area: 7 / 1 / 8 / 3;
    width:80%;
    height:50vw;
    margin-top:0;
    }
    .slideshowWrapper {
        width:80vw;
    }
    .slideshowWrapper img {
        width:80vw;
    }
    #mainAbout > #aboutSection1 {
        grid-area: 3 / 1 / 4 / 3;
        width:80%;
    }
    #mainAbout > #aboutSection2 {
        grid-area: 5 / 1 / 6 / 3;
        margin-top: 40px;
        width:80%;
    }

    #mainStills {
        height:2250vw;
    }
    #stillsContainer {
        margin-top:40px;
        grid-template-columns: 20px 1fr 1fr 20px;
        grid-template-rows: 60px repeat(30, 1fr);
        gap: 0;
    }
    #stillsContainer > a {
        opacity: 0;
    }
    #stillsContainer > .stills, #stillsContainer > a {
        justify-self: center;
        width: 80%;
    }
    .still1-1 {
        grid-area: 2 / 2 / 3 / 4;
    }
    .still1-2 {
        grid-area: 3 / 2 / 4 / 4;
    }
    .still2-1 {
        grid-area: 4 / 2 / 5 / 4;
    }
    .still2-2 {
        grid-area: 5 / 2 / 6 / 4;
    }
    .still2-3 {
        grid-area: 6 / 2 / 7 / 4;
    }
    .still3-1 {
        grid-area: 7 / 2 / 8 / 4;
    }
    .still4-1 {
        grid-area: 8 / 2 / 9 / 4;
    }
    .still4-2 {
        grid-area: 9 / 2 / 10 / 4;
        margin-top: 45px;
    }
    .still4-3 {
        grid-area: 10 / 2 / 11 / 4;
    }
    .still5-1 {
        grid-area: 11 / 2 / 12 / 4;
    }
    .still5-2 {
        grid-area: 12 / 2 / 13 / 4;
    }
    .still5-3 {
        grid-area: 13 / 2 / 14 / 4;
    }
    .still6-1 {
        grid-area: 14 / 2 / 15 / 4;
    }
    .still6-2 {
        grid-area: 15 / 2 / 16 / 4;
    }
    .still6-3 {
        grid-area: 16 / 2 / 17 / 4;
    }
    .still7-1 {
        grid-area: 17 / 2 / 18 / 4;
    }
    .still7-2 {
        grid-area: 18 / 2 / 19 / 4;
    }
    .still7-3 {
        grid-area: 19 / 2 / 20 / 4;
        margin-top: 45px;
    }
    .still8-1 {
        grid-area: 20 / 2 / 21 / 4;
    }
    .still8-2 {
    grid-area: 21 / 2 / 22 / 4;
    }
    .still9-1 {
        grid-area: 22 / 2 / 23 / 4;
    }
    .still9-2 {
        grid-area: 23 / 2 / 24 / 4;
        margin-top: 45px;
    }
    .indexNavContainer {
        grid-area: 5 / 1 / 6 / 4;
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width:200px;
        gap:0;
        transform: scale(1);
        flex-direction: row;
        flex-wrap: wrap;
        height:200px;
    }
    #indexNavItem1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    #indexNavItem2 {
        grid-area: 1 / 2 / 2 / 3;
    }
    #indexNavItem3 {
        grid-area: 2 / 1 / 3 / 2;
    }
    #indexNavItem4 {
        grid-area: 2 / 2 / 3 / 3;
    }
    #reelStill {
        visibility: visible;
    }
}

@media only screen and (min-width: 800px) {
    .form{
        grid-template-columns: 1fr 3fr 1fr;
    }
    #reelStill {
        visibility: hidden;
    }
    #stillsContainer > a:hover {
    background-color: rgba(255,255,255,0.1);
    transform: scale(1.05); 
    z-index: 3;
    }
    #stillsContainer > a:hover + img {
        transform: scale(1.05);
        box-shadow: 0 0 4px 2px rgb(187, 210, 233), 0 0 15px 0px #4c88ff, -4px 8px 40px 5px rgb(1, 20, 70);
        z-index: 2;
    }
}
@media only screen and (max-width: 430px) {
    #mainAbout > p {
        font-size: 16px;
    }
    #header {
        height:100px;
    }
    body > main {
        margin-top:100px;
    }
    #h1 {
        font-size: 30px;
        transform: translate(0, -3px);
    }
    #h2 {
        font-size: 20px;
        transform: translateY(-8px);
    }
    #navButton, #navButton:hover {
        transform: scale(0.8) translateY(-22px);
    }
    #mainAbout > #aboutImg1 {
        background-size: 160%;
        background-repeat: no-repeat;
        height:280px;
    }
    .indexNavContainer {
        transform: scale(0.9) translateY(-20px);
    }
    #meHome1 {
        width:150px;
        height: 200px;
        background-size: 200px;
        background-position: -20px 0px;
    }
    .homeSection1 {
        font-size: 14px;
        text-align: justify;
        width:72%;
    }
}
@media only screen and (max-width: 325px){
    #h1{
        font-size:22px;
        transform: translateY(-6px);
    }
    #h2{
        font-size: 14px;
        transform: translateY(-10px);
    }
    #navButton, #navButton:hover {
        transform: scale(0.6) translateY(-30px);
    }


}
